<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>ABOUT US</title>
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Business Frontpage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <header class="bg-secondary py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">BEAUTY LIFE</h1>
                        </div>
                    </div>
                </div>
            </div>
    </header>
<!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">

                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-person-fill"></i></div>
                        <h2 class="h4 fw-bolder">Our Story</h2>
                        <p>BEAUTY LIFE의 이야기</p>
                        <a class="text-decoration-none" href="#!">
                            BEAUTY LIFE는...
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-clock-history"></i></div>
                        <h2 class="h4 fw-bolder">Our History</h2>
                        <p>BEAUTY LIFE의 탄생</p>
                        <a class="text-decoration-none" href="#!">
                            BEAUTY LIFE의 시작은...
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-signpost"></i></div>
                        <h2 class="h4 fw-bolder">Our Values</h2>
                        <p>BEAUTY LIFE의 이상향</p>
                        <a class="text-decoration-none" href="#!">
                            우리의 목표는....
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}
</body>
</html>