<!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-success">
            <div class="container px-5">
                <div class="">
                    <a class="navbar-brand" href="/MAIN/">BEAUTY LIFE</a>
                </div>
                <div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <!--    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>-->
                        <li class="nav-item"><a class="nav-link" href="/ABOUTUS/">ABOUT US</a></li>
                        <li class="nav-item"><a class="nav-link" href="/SERVICE/">SERVICE</a></li>
                        <li class="nav-item"><a class="nav-link" href="/REVIEW/">REVIEW</a></li>
                        <li class="nav-item"><a class="nav-link" href="/QUESTION/">QUESTION</a></li>
                        <li class="nav-item"><a class="nav-link" href="/CONTACT/">CONTACT</a></li>

                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">{{ user.username }} (logout)</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">login</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>